#Remove all files under directories matching dir-pattern that match any of the listed patterns
recursive-exclude legacy/*
recursive-exclude mcce_benchmark/tests/data/*
recursive-exclude notebooks/*.png
recursive-exclude notebooks/*.txt
recursive-exclude notebooks/*.log
recursive-exclude notebooks/_tmp/*

global-exclude _tmp*.*
