#Remove all files under directories matching dir-pattern that match any of the listed patterns
recursive-exclude legacy/ *.py *.txt *.md
recursive-exclude mcce_benchmark/future/ *.py
recursive-exclude notebooks/ *.ipynb
recursive-exclude notebooks/_tmp/ *.ipynb *.txt

global-exclude _tmp*.*
